/* styles.css */

body, header {
    background-image: url(images/bg-texture.png);
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-arial, sans-s;
 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white; /* Set a white background for the header */;
}

/*********************nav***********************/
nav{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 13px;

}

.logo img{
    width: 120%;
    font-size: 10px;
    color: white;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s all ease;
}

ul{
    margin: 0px;
}

ul li {
    float: left;
    padding: 0px 10px;
    list-style: none;
}




/******************************/
div.logo{
    text-decoration: none;    
    width: 13%;
    color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: rgb(154, 51, 13);
}

/***********************section***********************/
img.chef-milano {
    width: 100%;
    border-radius: 15px;
}



section {
    position: relative;
    }
    
img {
    width: 100%;
    height: auto;
    }
    
.contenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.contenu h1 {
    color: white;
    text-align: center;  
    font-size: 80px;
    font-family: arials;
    margin-bottom: 10px;
    
}

.chef-milano {
        filter: brightness(50%);
}

.contenu {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
            
        color: white;
}
    
#slogan {
    font-size: 2em;
    line-height: 1.4;
    text-align: center;
    }

/*************************Footer**************************/

footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
  }
  
  footer p {
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    padding: 10px;
  }